/venv
/Test/__pycache__
/Test/migrations/__pycache__
/Test/models/__pycache__
/Test/views/__pycache__
/Assests
Test/migrations/0012_notes.py
Quiz/__pycache__/settings.cpython-312.pyc
/Test/migrations/0015_result_obtained_marks.py
Quiz/__pycache__/settings.cpython-312.pyc
Quiz/__pycache__/__init__.cpython-312.pyc
