{% extends "header.html" %}

{% block title %}

{% endblock title %}

{% block content %}
    <section class="hero-section">
        <h1>Welcome to Chemistry Test Prep</h1>
        <p>Your ultimate resource for mastering chemistry exams</p>
        <a href="/register" class="btn btn-primary btn-hero">Get Started</a>
    </section>

    <section id="features" class="feature-section section mb-1">
        <div class="m-2">
            <div class="row">
                <div class="col-md-3 mt-3">
                    <div class="feature-box">
                        <span>Feature 1</span>
                        <h3>Comprehensive Tests</h3>
                        <p>Access a variety of test series designed to cover all important topics.</p>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="feature-box">
                        <span>Feature 2</span>
                        <h3>Instant Feedback</h3>
                        <p>Receive detailed analysis and feedback on your performance.</p>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="feature-box">
                        <span>Feature 3</span>
                        <h3>Progress Tracking</h3>
                        <p>Track your progress over time and identify areas for improvement.</p>
                    </div>
                </div>
                
                <div class="col-md-3 mt-3">
                    <div class="feature-box">
                        <span>Feature 4</span>
                        <h3>Solutions</h3>
                        <p>Solutions are also provided with each questions during analysis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="about" class="about-section section mb-1">
        <div class="container border" style="border-radius: 10px;">
            <h2 class="p-2">About Us</h2>
            <p>We are dedicated to helping students excel in their chemistry exams by providing top-quality test preparation materials and resources. Our team of experienced educators has crafted comprehensive tests and practice materials to ensure you are well-prepared for your exams.</p>
        </div>
    </section>
    
    <section id="contact" class="contact-section section mb-1">
        <div class="container">
            <h2>Contact Us</h2>
            <p>If you have any questions or need further assistance, please feel free to reach out to us.</p>
            <p>Email: narinder0624@gmail.com</p>
            <p>Phone: (+91) 98728-93603</p>
        </div>
    </section>
{% endblock content %}