{% extends "header.html" %}

{% block title %}
| Solution
{% endblock title %}

{% block content %}
    {% for question in questions %}
    
        <div class="card container mt-5 w3-animate-zoom" >
            <div class="card-body">

                <h5 class="card-title prevent-select">Question {{forloop.counter}}</h5>
                <hr class="border border-danger border-1 opacity-100">
                <p class="card-text h4 mb-3 prevent-select">{{question.Question}}</p>
                    

                {% for answer in question.question.all %}
                    {% if answer.is_Correct %}
                        <label for="answer{{ answer.id }}" class="h5 prevent-select bg-success w-100 text-light p-1 ps-4" style="font-family:'Times New Roman', Times, serif;">{{ answer.Answer }}</label><br>
                    {% else %}
                        <label for="answer{{ answer.id }}" class="h5 prevent-select ps-4" style="font-family:'Times New Roman', Times, serif;">{{ answer.Answer }}</label><br>
                    {% endif %}
                {% endfor %}
                
            </div>
            <div class="border border-2 rounded-4 mb-2">
                <label class="h4 m-3">Solution:</label><br>
                {% if question.text_Solution %}
                    <textarea class="ms-5 mb-4" rows="5" cols="120" disabled> {{question.text_Solution}} </textarea>
                {% else %}
                    <img class="ms-5 mb-4 img-thumbnail" src="/Content/Downloads/{{question.img_Solution}}" alt="Solution" width="auto">
                {% endif %}
            </div>
        </div>

    {% endfor %}
{% endblock content %}