{% extends "header.html" %}

{% block title %}
| Test Series
{% endblock title %}

{% block content %}

<br><br>
{% for test in tests %}
<form action="/test_series/" method="post">
    {% csrf_token %}
<div class="card w-100 w3-animate-zoom ">
    <div class="card-body ">
      <h5 class="card-title fw-bold w3-animate-zoom ">{{test.Name}}</h5>
          <p class="card-text text-secondary small flex ">{{test.Total_Marks}}-Marks {{test.num_Questions}} Questions {{test.Timing}} min 
              <input class="w3-right w3-right-align btn btn-outline-dark "  name="testid" type="text" value="{{test.id}}" hidden>
            
                {% if test.id in attempted_test_ids %}
                <br>
                    <input class="w3-right btn btn-outline-danger w3-animate-zoom mx-2 me-4 mt-1" type="submit" value="     Analysis     " formaction="/analysis/" formmethod="post" >
                    <input class="w3-right btn btn-outline-success w3-animate-zoom mx-2 me-4 mt-1" type="submit" value="    Solutions    " formaction="/solutions/" formmethod="post" >
                {%else%}
                <input class="w3-right w3-right-align btn btn-outline-dark w3-animate-zoom me-4" type="submit" value="      Start      ">

                {% endif %}            

            </p>
        </div>
    </div>
</form>
<br>
{% endfor %}

<script type="text/javascript"> 
    function preventBack() { 
        window.history.forward();  
    } 
      
    setTimeout("preventBack()", 0); 
      
    window.onunload = function () { null }; 
</script> 


{% endblock content %}